<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.onlinemarket.domain.category.mapper.CategoryMapper">

  <select id="findAll" resultType="com.example.onlinemarket.domain.category.entity.Category">
    SELECT *
    FROM Category
  </select>

  <select id="findById" parameterType="long"
    resultType="com.example.onlinemarket.domain.category.entity.Category">
    SELECT *
    FROM Category
    WHERE id = #{id}
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id"
    parameterType="com.example.onlinemarket.domain.category.entity.Category">
    INSERT INTO Category (name, createDate, updateDate)
    VALUES (#{name}, NOW(), NOW())
  </insert>

  <update id="updateName" parameterType="com.example.onlinemarket.domain.category.entity.Category">
    UPDATE Category
    SET name = #{newName}
    WHERE id = #{id}
  </update>

  <delete id="deleteById" parameterType="long">
    DELETE
    FROM Category
    WHERE id = #{id}
  </delete>

  <select id="existsByName" parameterType="String" resultType="boolean">
    SELECT EXISTS
               (SELECT 1 FROM Category where name = #{name})
  </select>

  <select id="selectCategoryName" parameterType="Long" resultType="String">
    SELECT name
    FROM Category
    WHERE id = #{categoryId}
  </select>

</mapper>
